:root {
   --w-color: #ffffff; 
   --ser-color: #F1F1F1; 
   --set-color: #4F4F4F; 
   --bl-color: #000000; 
   --bls-color: #151D0C; 
   --r-color: #F05454; 
   --hover-color: #c10000; 
   --hover-color-2: #fac7c7; 
}

.--btn {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 16px;
   line-height: 135%;
   color: var(--w-color);
   background: var(--r-color);
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
   border-radius: 4px;
   border: none;
   width: 355px;
   height: 52px;
   cursor: pointer;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
}
.--btn:hover {
   background: var(--hover-color);
}  
.--title {
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 35px;
   line-height: 100%;   
   letter-spacing: -0.41px;    
   color: var(--r-color);
}
.--text {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 24px;
   line-height: 158%;
   color: var(--set-color);    
}